body {
  margin: 0;
  background-color: #cdd9e6;
  font-family: 'Blanka';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: 'Blanka';
  font-style: normal;
  font-weight: normal;
  src: local('Blanka'), url('./font/Blanka-Regular.otf') format('truetype');
}